<div class="education">
    <h2 class="col-lg-8">{{ titleEducation }}</h2>
    <img src="../../assets/education1.jpg" class="photo col-lg-4"/>

    <div class="educationPopUp col-lg-4" [ngClass]="{'animation' : clickEduAny}">
        <div class="closeBtn" (click)="closePopUp()">X</div>
        <div class="image">
            <img src="../../assets/su-logo.jpg" *ngIf="clickedEdu1"/>
            <img src="../../assets/ezikova-logo.png" *ngIf="clickedEdu2"/>
            <img src="../../assets/udemy-logo.jpg" *ngIf="clickedEdu3"/>
            <img src="../../assets/guitar-logo.png" *ngIf="clickedEdu4"/>
        </div>
        <div class="text">
            <p *ngIf="clickedEdu1">{{ eduDescription1 }}</p>
            <p *ngIf="clickedEdu2">{{ eduDescription2 }}</p>
            <p *ngIf="clickedEdu3">{{ eduDescription3 }}</p>
            <p *ngIf="clickedEdu4">{{ eduDescription4 }}</p>
        </div>
    </div>

    <div class="main">
        <div class="edu col-lg-6" (click)="clickEdu1()">
            <img src="../../assets/su-logo.jpg" class="logo col-lg-2"/>
            <div class="moreInfo col-lg-7">
                <h3>{{ eduEntry1 }}</h3>
                <h4>{{ eduSpec1 }}</h4>
                <h5>2015-2019</h5>
            </div>
        </div>
        
        <div class="edu col-lg-6" (click)="clickEdu2()">
            <img src="../../assets/ezikova-logo.png" class="logo col-lg-2"/>
            <div class="moreInfo col-lg-7">
                <h3>{{ eduEntry2 }}</h3>
                <h4>{{ eduSpec2 }}</h4>
                <h5>2010-2015</h5>
            </div>
        </div>
    </div>

    <div class="additional">
        <span class="additionalEduTitle col-lg-12">Допълнително образование</span>
        <div class="edu col-lg-6" (click)="clickEdu3()">
            <img src="../../assets/udemy-logo.jpg" class="logo col-lg-2"/>
            <div class="moreInfo col-lg-7">
                <h3>Udemy</h3>
                <h4>HTML&CSS ; JavaScript ; Angular</h4>
                <h5>2021-</h5>
            </div>
        </div>
        
        <div class="edu col-lg-6" (click)="clickEdu4()">
            <img src="../../assets/guitar-logo.png" class="logo col-lg-2"/>
            <div class="moreInfo col-lg-7">
                <h3>{{ eduEntry4 }}</h3>
                <h4>{{ eduSpec4 }}</h4>
                <h5>2013-2015</h5>
            </div>
        </div>
    </div>
</div>