.contacts{
    padding-top: 100px;
    .pitch{
        .pitchText{
            white-space: pre-wrap;
            font-size: 38px;
            padding-bottom: 30px;
            @media (max-width: 900px){
                font-size: 4vw;
            }
        }
    }
    .contactInfo{
        padding-top: 50px;
        .info{
            @media (min-width: 1200px) and (max-width: 1604px){
                width: 60%;
             }
            text-align: left;
            .row{
                display: inline;
                img{
                    width: 12%;
                    padding-right: 3%;
                    padding-bottom: 2.5%;
                }
                p{
                    display: contents;
                    font-size: 36px;
                    font-weight: bold;
                    @media (max-width: 900px){
                        font-size: 3.8vw;
                    }
                }
            }
            @media (max-width: 1199px){
                padding-left: 20%;
            }
        }
        .image{
            @media (min-width: 1200px) and (max-width: 1604px){
                width: 40%;
             }
            img{
                @media (min-width: 1200px) and (max-width: 1604px){
                    width: 100%;
                 }
            }
            @media (max-width: 1199px){
                display: none;
            }
        }
    }
}