<div class="contacts col-lg-12">
    <div class="pitch">
        <p class="pitchText">{{ pitchText }}</p>
    </div>
    <div class="contactInfo">
        <div class="image col-lg-7">
            <img src="../../../assets/contact-me.png">
        </div>
        <div class="info col-lg-5">
            <div class="row">
                <img src="../../../assets/phone-icon.png">
                <p>0896 23 33 84</p>
            </div>
            <div class="row">
                <img src="../../../assets/mail-icon.png">
                <p>lachyordanov@gmail.com</p>
            </div>
            <div class="row">
                <img src="../../../assets/city-icon.jpg">
                <p>{{ city }}</p>
            </div>
        </div>
    </div>
</div>