.skills{
    text-align: center;
    .skills-container{
        padding-top: 20px;
        h3{
            font-size: 52px;
            padding-bottom: 50px;
        }
        .techSkills{
            .skill{
                padding-bottom: 30px;
                .skillName{
                    width: 25%;
                    color: purple;
                    font-size: 28px;
                }
                .skillProgress{
                    width: 75%;
                    height: 28px;
                }
                
            }
        }
        .personalSkills{
            h3{
                padding-bottom: 0;
            }
        }
        .langs{
            padding-top: 50px;
            padding-bottom: 0;
            table{
                th{
                    text-align: center;
                    font-size: 18px;
                }
                td{
                    font-size: 16px;
                }
            }
        }
        .clients{
            img{
                padding: 1%;
                border-radius: 15%;
            }
        }
    }  
}