.introduction{
    text-align: center;
    .intro{
        padding-top: 8%;
        text-align: left;
        .helloText{
            padding-left: 5%;
            font-size: 52px;
            @media (max-width: 900px){
                font-size: 4.5vw;
            }
        }
        .introText{
            padding-top: 3%;
            font-size: 28px;
            @media (max-width: 900px){
                font-size: 3vw;
            }
            white-space: pre-wrap;
        }
    }
    .navigation{
        padding-top: 10%;
        font-size: 28px;
        @media (max-width: 900px){
            font-size: 3vw;
        }
        table{
            img{
                width: 80%;
            }
            a{
                text-decoration: none;
            }
            td{
                border: 2px solid transparent;
            }
            td:hover{
                cursor: pointer;
                border: 3px solid purple;
                h4{
                    transition: 0.3s;
                    color: purple
                }
            }
            h4{
                text-decoration: none;
                color: transparent;
                font-size: 24px;
                transition: 0.3s;
                @media (max-width: 900px){
                    display: none;
                }
            }
        }
    }
}