<div class="introduction">
    <h2 class="col-lg-8">{{ titleIntro }}</h2>
    <img src="../../assets/photo.jpg" class="photo col-lg-4"/>
    <div class="intro col-lg-12">
        <h3 class="helloText">{{ helloText }}</h3>
        <p class="introText">{{ introText }}</p>
    </div>
    <div class="navigation col-lg-12">
        <p class="navText">{{ navText }}</p>
        <table>
            <tr>
                <td><img src="../../assets/work1.jpg"/></td>
                <td><img src="../../assets/education1.jpg"/></td>
                <td><img src="../../assets/skills1.png"/></td>
            </tr>
            <tr>
                <td><img src="../../assets/achievements1.jpg"/></td>
                <td><img src="../../assets/more-about-me1.jpg"/></td>
                <td><img src="../../assets/contact-me.png"/></td>
            </tr>
        </table>
    </div>
</div>