<div class="main col-lg-12">
    <div class="header">
        <a (click)="clickIntroduction()" [ngClass]="{active: openedIntroduction}">{{ introductionText }}</a>
        <a (click)="clickWorkExperience()" [ngClass]="{active: openedWorkExperience}">{{ workExperienceText }}</a>
        <a (click)="clickEducation()" [ngClass]="{active: openedEducation}">{{ educationText }}</a>
        <a (click)="clickSkills()" [ngClass]="{active: openedSkills}">{{ skillsText }}</a>
        <a (click)="clickAchievements()" [ngClass]="{active: openedAchievements}">{{ achievementsText }}</a>
        <a (click)="clickMoreAboutMe()" [ngClass]="{active: openedMoreAboutMe}">{{ moreAboutMeText }}</a>
    </div>
    <div class="mobile-header">
        <div class="nav-mobile col-xs-12" (click)="toggleNav()">≡</div>
        <div class="menu">
            <a (click)="clickIntroduction()" (click)="closeNav()" [ngClass]="{active: openedIntroduction}" class="col-xs-12">{{ introductionText }}</a>
            <a (click)="clickWorkExperience()" (click)="closeNav()" [ngClass]="{active: openedWorkExperience}" class="col-xs-12">{{ workExperienceText }}</a>
            <a (click)="clickEducation()" (click)="closeNav()" [ngClass]="{active: openedEducation}" class="col-xs-12">{{ educationText }}</a>
            <a (click)="clickSkills()" (click)="closeNav()" [ngClass]="{active: openedSkills}" class="col-xs-12">{{ skillsText }}</a>
            <a (click)="clickAchievements()" (click)="closeNav()" [ngClass]="{active: openedAchievements}" class="col-xs-12">{{ achievementsText }}</a>
            <a (click)="clickMoreAboutMe()" (click)="closeNav()" [ngClass]="{active: openedMoreAboutMe}" class="col-xs-12">{{ moreAboutMeText }}</a>
        </div>
    </div>

    <div class="name col-lg-8">
        <h1>{{ name }}</h1>
    </div>
    <app-introduction *ngIf="openedIntroduction" [titleIntro]="titleIntro" [introText]="introText" [helloText]="helloText" [navText]="navText" (workClicked)="introWork()" (educationClicked)="introEducation()" (skillsClicked)="introSkills()" (achievementsClicked)="introAchievements()" (moreClicked)="introMore()" [workExperienceText]="workExperienceText" [educationText]="educationText" [skillsText]="skillsText" [achievementsText]="achievementsText" [moreAboutMeText]="moreAboutMeText"></app-introduction>
    <app-work-experience *ngIf="openedWorkExperience" [titleWork]="titleWork" [jobTitle1]="jobTitle1" [jobTitle2]="jobTitle2" [jobTitle3]="jobTitle3" [jobTitle4]="jobTitle4" [jobTitle5]="jobTitle5" [jobTitle6]="jobTitle6" [jobDescription1]="jobDescription1" [jobDescription2]="jobDescription2" [jobDescription3]="jobDescription3" [jobDescription4]="jobDescription4" [jobDescription5]="jobDescription5" [jobDescription6]="jobDescription6"></app-work-experience>
    <app-education *ngIf="openedEducation" [titleEducation]="titleEducation" [eduEntry1]="eduEntry1" [eduEntry2]="eduEntry2" [eduSpec1]="eduSpec1" [eduSpec2]="eduSpec2" [eduDescription1]="eduDescription1" [eduDescription2]="eduDescription2" [eduEntry4]="eduEntry4" [eduSpec4]="eduSpec4" [eduDescription3]="eduDescription3" [eduDescription4]="eduDescription4"></app-education>
    <app-skills *ngIf="openedSkills" [titleSkills]="titleSkills" [techSkills]="techSkills" [bgLang]="bgLang" [personalSkills]="personalSkills" [langsTitle]="langsTitle" [langsTableTitle]="langsTableTitle" [langsLevelTitle]="langsLevelTitle" [langsMoreInformationTitle]="langsMoreInformationTitle" [lang1]="lang1" [lang2]="lang2" [lang3]="lang3" [langNative]="langNative" [langInfo1]="langInfo1" [langInfo2]="langInfo2" [langInfo3]="langInfo3" [clientsTitle]="clientsTitle"></app-skills>
    <app-achievements *ngIf="openedAchievements" [titleAchievements]="titleAchievements" [shDescription]="shDescription" [learnMore]="learnMore" [chDescription]="chDescription" [awardsTitle]="awardsTitle" [shNominationsTitle]="shNominationsTitle" [personalAwards]="personalAwards" [nomination1]="nomination1" [nomination2]="nomination2" [nomination3]="nomination3" [nomination4]="nomination4" [nomination5]="nomination5" [nomination6]="nomination6" [nomination7]="nomination7" [award1]="award1" [award2]="award2"></app-achievements>
    <app-more-about-me *ngIf="openedMoreAboutMe" [titleMore]="titleMore" [titleHobbies]="titleHobbies" [pitchText]="pitchText" [city]="city"></app-more-about-me>

    <div class="footer">
      <a (click)="clickIntroduction()"><span *ngIf="!bgLang">Introduction</span><span *ngIf="bgLang">Представяне</span></a>
      <a (click)="clickWorkExperience()"><span *ngIf="!bgLang">Work Experience</span><span *ngIf="bgLang">Трудов опит</span></a>
      <a (click)="clickEducation()"><span *ngIf="!bgLang">Education</span><span *ngIf="bgLang">Образование</span></a>
      <a (click)="clickSkills()"><span *ngIf="!bgLang">Skills</span><span *ngIf="bgLang">Умения</span></a>
      <a (click)="clickAchievements()"><span *ngIf="!bgLang">Achievements</span><span *ngIf="bgLang">Постижения</span></a>
      <a (click)="clickMoreAboutMe()"><span *ngIf="!bgLang">More About Me</span><span *ngIf="bgLang">Още за мен</span></a>
      <div class="langs">
          <img src="https://llys-phys.github.io/CV_Lachezar_Yordanov/assets/bg-flag.jpg" id="bgFlag" (click)="setLangBg()"/>
          <span> / </span>
          <img src="https://llys-phys.github.io/CV_Lachezar_Yordanov/assets/us-flag.png" id="enFlag" (click)="setLangEn()"/>
      </div>
  </div>
</div>