<div class="main col-lg-12">
    <div class="header">
        <a (click)="clickIntroduction()" [ngClass]="{active: openedIntroduction}">{{ introductionText }}</a>
        <a (click)="clickWorkExperience()" [ngClass]="{active: openedWorkExperience}">{{ workExperienceText }}</a>
        <a (click)="clickEducation()" [ngClass]="{active: openedEducation}">{{ educationText }}</a>
        <a (click)="clickSkills()" [ngClass]="{active: openedSkills}">{{ skillsText }}</a>
        <a (click)="clickAchievements()" [ngClass]="{active: openedAchievements}">{{ achievementsText }}</a>
        <a (click)="clickMoreAboutMe()" [ngClass]="{active: openedMoreAboutMe}">{{ moreAboutMeText }}</a>
    </div>

    <div class="name col-lg-8">
        <h1>{{ name }}</h1>
    </div>
    <app-introduction *ngIf="openedIntroduction" [titleIntro]="titleIntro" [introText]="introText" [helloText]="helloText" [navText]="navText"></app-introduction>
    <app-work-experience *ngIf="openedWorkExperience"></app-work-experience>
    <app-education *ngIf="openedEducation"></app-education>
    <app-skills *ngIf="openedSkills"></app-skills>
    <app-achievements *ngIf="openedAchievements"></app-achievements>
    <app-more-about-me *ngIf="openedMoreAboutMe"></app-more-about-me>

    <div class="footer">
      <a (click)="clickIntroduction()"><span *ngIf="!bgLang">Introduction</span><span *ngIf="bgLang">Представяне</span></a>
      <a (click)="clickWorkExperience()"><span *ngIf="!bgLang">Work Experience</span><span *ngIf="bgLang">Трудов опит</span></a>
      <a (click)="clickEducation()"><span *ngIf="!bgLang">Education</span><span *ngIf="bgLang">Образование</span></a>
      <a (click)="clickSkills()"><span *ngIf="!bgLang">Skills</span><span *ngIf="bgLang">Умения</span></a>
      <a (click)="clickAchievements()"><span *ngIf="!bgLang">Achievements</span><span *ngIf="bgLang">Постижения</span></a>
      <a (click)="clickMoreAboutMe()"><span *ngIf="!bgLang">More About Me</span><span *ngIf="bgLang">Още за мен</span></a>
      <div class="langs">
          <img src="../assets/bg-flag.jpg" id="bgFlag" (click)="setLangBg()"/>
          <span> / </span>
          <img src="../assets/us-flag.png" id="enFlag" (click)="setLangEn()"/>
      </div>
  </div>
</div>