.main{
    .header{
        position: fixed;
        top: 0;
        width: 80%;
        background-color: black;
        display: table;
        table-layout: fixed;
        height: 5%;
        z-index: 99;
        @media (max-width: 1199px){
            display: none;
        }
        a{
            cursor: pointer;
            color: white;
            text-decoration: none;
            display: table-cell;
            text-align: center;
            transition: 0.5s;
            font-size: 18px;
            padding-top: 0.8%;
        }
        a:hover{
            background-color: purple;
            transition: 0.5s;
            font-weight: bold;
        }
        .active{
            background-color: purple;
            font-weight: bold;
        }
    }
    .header-mobile{
        @media (min-width: 1200px){
            display: none;
        }
    }
    .footer{
        position: initial;
        bottom: 0;
        width: 100%;
        display: table;
        table-layout: fixed;
        padding-bottom: 10px;
        padding-top: 5%;
        a{
            cursor: pointer;
            text-decoration: none;
            display: table-cell;
            text-align: center;
            font-size: 18px;
            color: black;
            transition: 0.5s;
        }
        a:hover{
            color: purple;
            transition: 0.5s;
        }
        .langs{
            img{
                display:inline-block;
                width: 40px;
                padding-bottom: 15px;
                cursor: pointer;
            }
            span{
                font-size: 30px;
            }
        }
    }
    .name{
        padding-top: 5%;
        h1{
            font-size: 92px;
            text-align: center;
        }
    }
}