.work{
    text-align: center;
    .jobEntries{
        margin-top: 100px;
        display: contents;
        .job{
            display: flex;
            padding: auto;
            padding-bottom: 30px;
            border: 1px solid transparent;
            padding-top: 1%;
            transition: 0.5s;
            .moreInfo{
                text-align: left;
                height: 210px;
                h3{
                    font-size: 38px;
                }
            }
            .logo{
                width: 15vw;
            }
        }
        .job:hover{
            cursor: pointer;
            background-color: lightgray;
            transition: 0.5s;
        }
    }
    .workDescriptionPopUp{
        background-color: lightgray;
        border: 3px solid purple;
        box-shadow: black;
        margin: 0 25%;
        z-index: 9999;
        height: 70%;
        position: fixed;
        top: - 100%;
        transition: all .5s ease-in-out;
        .text{
            padding-top: 10%;
            p{
                font-size: 16px;
                width: 80%;
                margin: 0 10%;
            }
        }
        .image{
            padding-top: 10%;
            img{
                width: 50%;
            }
        }
        .closeBtn{
            float: right;
            font-size: 26px;
            padding-top: 10px;
            cursor: pointer;
        }
        .closeBtn:hover{
            font-weight: bold;
        }
    }
    .animation{
        top: 20%;
        transition: all .5s ease-in-out;
    }
}