<div class="work">
    <h2 class="col-lg-8">{{ titleWork }}</h2>
    <img src="../../assets/work1.jpg" class="photo col-lg-4"/>
    <div class="workDescriptionPopUp col-lg-4" [ngClass]="{'animation' : clickJobAny}">
        <div class="closeBtn" (click)="closePopUp()">X</div>
        <div class="image">
            <img src="../../assets/transifex-logo.png" *ngIf="clickedJob1"/>
            <img src="../../assets/jts-logo.png" *ngIf="clickedJob2"/>
            <img src="../../assets/sh-logo.jpg" *ngIf="clickedJob3"/>
            <img src="../../assets/citymusic-logo.jpg" *ngIf="clickedJob4"/>
            <img src="../../assets/ch-logo.png" *ngIf="clickedJob5"/>
            <img src="../../assets/bor-logo.jpg" *ngIf="clickedJob6"/>
        </div>
        <div class="text">
            <p *ngIf="clickedJob1">{{ jobDescription1 }}</p>
            <p *ngIf="clickedJob2">{{ jobDescription2 }}</p>
            <p *ngIf="clickedJob3">{{ jobDescription3 }}</p>
            <p *ngIf="clickedJob4">{{ jobDescription4 }}</p>
            <p *ngIf="clickedJob5">{{ jobDescription5 }}</p>
            <p *ngIf="clickedJob6">{{ jobDescription6 }}</p>
        </div>
    </div>
    <div class="jobEntries col-lg-8">

        <div class="job col-lg-4" (click)="clickJob6()">
            <img src="../../assets/bor-logo.jpg" class="logo col-lg-2"/>
            <div class="moreInfo col-lg-7">
                <h3>Bulgarian Online Research</h3>
                <h4>{{ jobTitle6 }}</h4>
                <h5>2021-</h5>
            </div>
        </div>
        
        <div class="job col-lg-4" (click)="clickJob5()">
            <img src="../../assets/ch-logo.png" class="logo col-lg-2"/>
            <div class="moreInfo col-lg-7">
                <h3>CareerHub Bulgaria</h3>
                <h4>{{ jobTitle5 }}</h4>
                <h5>2019-</h5>
            </div>
        </div>

        <div class="job col-lg-4" (click)="clickJob4()">
            <img src="../../assets/citymusic-logo.jpg" class="logo col-lg-2"/>
            <div class="moreInfo col-lg-7">
                <h3>City Music School</h3>
                <h4>{{ jobTitle4 }}</h4>
                <h5>2018-2021</h5>
            </div>
        </div>

        <div class="job col-lg-4" (click)="clickJob3()">
            <img src="../../assets/sh-logo.jpg" class="logo col-lg-2"/>
            <div class="moreInfo col-lg-7">
                <h3>StudyHub Bulgaria</h3>
                <h4>{{ jobTitle3 }}</h4>
                <h5>2018-</h5>
            </div>
        </div>

        <div class="job col-lg-4" (click)="clickJob2()">
            <img src="../../assets/jts-logo.png" class="logo col-lg-2"/>
            <div class="moreInfo col-lg-7">
                <h3>J&T Services</h3>
                <h4>{{ jobTitle2 }}</h4>
                <h5>2016-2016</h5>
            </div>
        </div>

        <div class="job col-lg-4" (click)="clickJob1()">
            <img src="../../assets/transifex-logo.png" class="logo col-lg-2"/>
            <div class="moreInfo col-lg-7">
                <h3>Transifex</h3>
                <h4>{{ jobTitle1 }}</h4>
                <h5>2016-2018</h5>
            </div>
        </div>
    </div>
</div>