.work{
    text-align: center;
    .jobEntries{
        margin-top: 100px;
        display: contents;
        .job{
            display: flex;
            padding: auto;
            padding-bottom: 30px;
            border: 1px solid transparent;
            padding-top: 1%;
            transition: 0.5s;
            @media (min-width: 1200px) and (max-width: 1604px){
                width: 50%;
            }
            .moreInfo{
                text-align: left;
                height: 210px;
                h3{
                    font-size: 38px;
                    @media (max-width: 900px){
                        font-size: 4vw;
                    }
                }
            }
            .logo{
                width: 15vw;
                @media (min-width: 1200px) and (max-width: 1604px){
                    width: 18vw;
                }
                @media (max-width: 1199px) {
                    width: 25vw;
                }
            }
        }
        .job:hover{
            cursor: pointer;
            background-color: lightgray;
            transition: 0.5s;
        }
    }
    .workDescriptionPopUp{
        background-color: white;
        border: 3px solid purple;
        margin: 0 25%;
        z-index: 9999;
        height: auto;
        padding-bottom: 5%;
        position: fixed;
        top: - 100%;
        transition: all .5s ease-in-out;
        box-shadow: 1px 1px 15px 15px gray;
        .text{
            padding-top: 10%;
            p{
                font-size: 16px;
                width: 80%;
                margin: 0 10%;
                @media (max-width: 900px){
                    font-size: 1.8vw;
                }
            }
        }
        .image{
            padding-top: 10%;
            img{
                width: 50%;
            }
        }
        .closeBtn{
            float: right;
            font-size: 26px;
            padding-top: 10px;
            cursor: pointer;
            @media (max-width: 900px){
                font-size: 3vw;
            }
        }
        .closeBtn:hover{
            font-weight: bold;
        }
    }
    .animation{
        top: 20%;
        transition: all .5s ease-in-out;
    }
}