@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

body{
    width: 80%;
    margin: 0 10%;
    font-family: 'Viaoda Libre', cursive;
    font-weight: bold;
    @media (max-width: 1199px){
        width: 100%;
        margin: 0;
    }
}
h1,h2,h3,p{
    color: purple;
}
.photo{
    margin-top: -8%;
    width: 30%;
    border-radius: 8%;
    @media (max-width: 1308){
        margin-top: -18%;

    }
    @media (max-width: 1199px) {
        display: none;
    }
}
h2{
    font-size: 72px;
    padding-top: 5%;
    @media (max-width: 900px){
        font-size: 6vw;
    }
}