<div class="achievements">
    <h2 class="col-lg-8">{{ titleAchievements }}</h2>
    <img src="https://llys-phys.github.io/CV_Lachezar_Yordanov/assets/achievements1.jpg" class="photo col-lg-4"/>
    <div class="studyhub col-lg-12">
        <h3>StudyHub Bulgaria</h3>
        <div class="col-lg-8">
            <iframe src="https://www.facebook.com/plugins/video.php?height=292&href=https%3A%2F%2Fwww.facebook.com%2F3DVU.shop%2Fvideos%2F178325423524264%2F&show_text=false&width=560&t=0" width="840" height="438" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true">
            </iframe>
        </div>
        <div class="description col-lg-4">
            <p>{{ shDescription }}</p>
        </div>
        <div class="social col-lg-4">
            <h4>{{ learnMore }}</h4>
            <a href="https://www.facebook.com/studyhubbulgaria" target="_blank">
                <img src="https://llys-phys.github.io/CV_Lachezar_Yordanov/assets/fb-icon.png">
            </a>
            <a href="https://www.instagram.com/studyhub.bulgaria/" target="_blank">
                <img src="https://llys-phys.github.io/CV_Lachezar_Yordanov/assets/instagram-icon.png">
            </a>
            <a href="https://www.linkedin.com/company/69760361/" target="_blank">
                <img src="https://llys-phys.github.io/CV_Lachezar_Yordanov/assets/linkedin-icon.png">
            </a>
            <a href="https://studyhub.bg/" target="_blank">
                <img src="https://llys-phys.github.io/CV_Lachezar_Yordanov/assets/website-icon.png">
            </a>
        </div>
    </div>
    <div class="careerhub col-lg-12">
        <h3>CareerHub Bulgaria</h3>
        <div class="image col-lg-8">
            <img src="https://llys-phys.github.io/CV_Lachezar_Yordanov/assets/careerhub info.png">
        </div>
        <div class="description col-lg-4">
            <p>{{ chDescription }}</p>
        </div>
        <div class="social col-lg-4">
            <h4>{{ learnMore }}</h4>
            <a href="https://www.facebook.com/careerhubbulgaria" target="_blank">
                <img src="https://llys-phys.github.io/CV_Lachezar_Yordanov/assets/fb-icon.png">
            </a>
            <a href="https://www.instagram.com/careerhub.bulgaria/" target="_blank">
                <img src="https://llys-phys.github.io/CV_Lachezar_Yordanov/assets/instagram-icon.png">
            </a>
            <a href="https://www.linkedin.com/company/68807874/" target="_blank">
                <img src="https://llys-phys.github.io/CV_Lachezar_Yordanov/assets/linkedin-icon.png">
            </a>
            <a href="https://careerhub.bg/" target="_blank">
                <img src="https://llys-phys.github.io/CV_Lachezar_Yordanov/assets/website-icon.png">
            </a>
        </div>
    </div>
    <div class="awards col-lg-12">
        <h3>{{ awardsTitle }}</h3>
        <div class="shNominations col-lg-6">
            <h4>{{ shNominationsTitle }}</h4>
            <ul class="shaward">
                <li>{{ nomination7 }}</li>
                <li>{{ nomination6 }}</li>
                <li>{{ nomination5 }}</li>
                <li>{{ nomination4 }}</li>
                <li>{{ nomination3 }}</li>
                <li>{{ nomination2 }}</li>
                <li>{{ nomination1 }}</li>
            </ul>
        </div>
        <div class="musicAwards col-lg-6">
            <h4>{{ personalAwards }}</h4>
            <ul class="musicAward">
                <li>{{ award2 }}</li>
                <li>{{ award1 }}</li>
            </ul>   
        </div>
    </div>
</div>